In [1]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
def clean1(df1):
    df = df1.copy()
    df = df.drop(['Name','Ticket'], axis =1)
    HC = df['Cabin'].notna().astype(int) #To check if the passenger had a cabin
    SN = (df['Sex'] == 'male').astype(int)
    EmbarkedS = (df['Embarked'] == 'S').astype(int)
    EmbarkedC = (df['Embarked'] == 'C').astype(int)
    EmbarkedQ = (df['Embarked'] == 'Q').astype(int)
    df = df.drop(['Cabin','Sex','Embarked'], axis = 1) #Drop non numeric values to replace them with numeric values
    df['HasCabin'] = HC
    df['SexNumberic'] = SN
    df['EmbarkedQ'] = EmbarkedQ
    df['EmbarkedC'] = EmbarkedC
    df['EmbarkedS'] = EmbarkedS    
    return df

In [5]:
#First try with dropping any remaining na values
train = clean1(train)
train = train.dropna()

In [6]:
x = train.drop(['Survived','PassengerId'],axis = 1)
y = train['Survived']

In [7]:
#Upon first data inspection the fact wether or not someone has a cabin and if someone is in first class seem to be highly
#Correlated, this cell is used to see if the total amount of people in first class and amount of people with a cabin are the
#same. Upon further inspection this does not always seem to be the case and there also seem to be people in lower classes
#with a cabin.
c = np.sum(x['HasCabin']) #Sum of people that have a cabin
c2 = np.sum(x['Pclass'] == 1) #Sum of people in first class
c3 = np.sum(x['Pclass'] == train['HasCabin'])
print('Amount of people that have a cabin: ' + str(c))
print('Amount of people that are in first class: ' + str(c2))
print('Amount of poeple that are in first class and have a cabin: ' + str(c3))

Amount of people that have a cabin: 185
Amount of people that are in first class: 186
Amount of poeple that are in first class and have a cabin: 160

In [8]:
model = LogisticRegression(max_iter = 1000)

In [10]:
model.fit(x,y)

LogisticRegression(max_iter=1000)

In [11]:
test =  pd.read_csv('test.csv')
test = clean1(test)
test = test.dropna()
xt = test.drop(['PassengerId'],axis = 1)
rt = model.predict(xt)   #Model prediction

In [27]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)
model2 = LogisticRegression(max_iter = 1000)
model2.fit(X_train,y_train)
print(model2.score(X_test,y_test))   #test in the trianing data after a split

0.7711864406779662

0.803921568627451